@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<br/>
<a href="~/home/Register" >Register</a>
@using(@Html.BeginForm("Login", "Home", FormMethod.Post)){
    <label for="username">Username</label>
    <input name="username" type="text" />
    <br />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <br/>
    <button type="submit">Log in</button>
}