@{
    ViewBag.Title = "SharedPlan";
}

<h2>Shared Plan</h2>
<br />
<br />
@using (@Html.BeginForm("Plan", "Home", FormMethod.Post))
{
    <table style="width:100%">
        <tr>
            <th>Username</th>   
        </tr>
        @foreach (var c in ViewBag.username)
        {
            <tr>
                <td>
                    @c
                </td>
                <td>
                    <button name="username" id="@c" value="@c">Select</button>
                </td>
            </tr>
        }
    </table>

}